////
/// @group custom
////
@import "../../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../../node_modules/slick-carousel/slick/slick-theme.scss";
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat
}

@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "â†"
}

[dir="rtl"] .slick-prev:before {
    content: "â†’"
}

.slick-next {
    right: -25px
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto
}

.slick-next:before {
    content: "â†’"
}

[dir="rtl"] .slick-next:before {
    content: "â†"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "‒";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    color: #FF6F0F;
    opacity: .75
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir="rtl"] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.section-heading-copy {
    height: 28px;
    width: 193px;
    color: #BEBEBE;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 28px;
    text-align: left;
    margin-top: 80px;
}

/* Mobile */
@media screen and (max-width: 47.9375em) {
    .section-heading-copy {
        /*width: 375px !important*/
        margin-top: 50px !important;
        margin-bottom: 10px !important;;
    }
}
/* IPAD */
@media screen and (max-width: 63.9375em) {
    .section-heading-copy {
        /*padding-top: 50px;
        padding-bottom: 20px;*/
        margin-top: 50px;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 119.9375em) {
    .section-heading-copy {
        margin-bottom: 20px;
        /*height: 28px;
        width: 500px;*/
        color: #BEBEBE;
        font-family: "Roboto Slab";
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.4px;
        line-height: 28px
    }
}

.highlight-paragraph {
	  /*height: 132px;
    width: 701px;*/
    color: #27198C;
    font-family: Muli;
    font-size: 30px;
    font-weight: 900;
    line-height: 44px;
}

@media screen and (max-width: 119.9375em) {
    .highlight-paragraph {

        /*width: 500px;*/
        color: #27198C;
        font-family: Muli;
        font-size: 30px;
        font-weight: 900;
        line-height: 44px
    }
}
/* IPAD */
@media screen and (max-width: 63.9375em) {
    .highlight-paragraph {
        /*height: 150px;
        width: 344px; */
        color: #27198C;
        font-family: Muli;
        font-size: 24px;
        font-weight: 900;
        line-height: 38px
    }
}

@media screen and (max-width: 47.9375em) {
    .highlight-paragraph {
        /*height: 136px ;
        width: 335px;*/
        color: #27198C;
        font-family: Muli;
        font-size: 22px;
        font-weight: 900;
        line-height: 34px
    }
}

.sed-ut-perspiciatis {
    height: 90px;
    /*width: 701px;*/
    color: #191919;
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

@media screen and (max-width: 119.9375em) {
    .sed-ut-perspiciatis {
        height: 120px;
        /*width: 500px;*/
        color: #191919;
        font-family: Muli;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px
    }
}

@media screen and (max-width: 63.9375em) {
    .sed-ut-perspiciatis {
        /*height: 140px;
        width: 344px;*/
        color: #191919;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px
    }
    .groupbtn, .mobgroupbtn{
        padding-top: 5px !important;
        padding-bottom: 30px;
    }
    .secgroupbtn {
      padding-top: 36px !important;
      padding-bottom: 50px !important;

    }

}

@media screen and (max-width: 47.9375em) {
    .sed-ut-perspiciatis {
        height: auto;
        /*width: 335px;*/
        color: #191919;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px
    }
}

.groupbtn, .secgroupbtn{
    padding-top: 14px;
    padding-bottom: 30px;
}

.mobgroupbtn{
  padding-top: 40px !important;
  padding-bottom: 40px !important;

}

/* Override button padding to keep it consistent */
.secgroupbtn .pt{
  padding-top: 52px;
}

.groupbtn button, .secgroupbtn button, .mobgroupbtn button{
    height: 50px;
    width: 150px;
    font-family: Muli;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 15px;
    border: 1px solid #FF6F0F;
    color: #27198C;
    padding: 14px 60px 13px 20px;
    cursor: pointer;
    float: left
}

.groupbtn .rectangle-3, .secgroupbtn .rectangle-3, .mobgroupbtn .rectangle-3 {
    height: 50px;
    width: 50px;
    background-color: #FF6F0F;
    padding: 17px;
    color: #FFF
}

.groupbtn:after, .secgroupbtn:after, .mobgroupbtn:after{
    content: "";
    clear: both;
    display: table
}

.groupbtn button:not(:last-child), .secgroupbtn button:not(:last-child), .mobgroupbtn button:not(:last-child) {
    border-right: none
}

.image-left {
    background-color: #D8D8D8;

}

@media screen and (max-width: 63.9375em) {
    .image-left {
        height: 344px;
        width: 100%;
        background-color: #D8D8D8
    }
}

.01 {
    height: 58px;
    width: 152.75px;
    color: #E5E5E5;
    font-family: Muli;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px
}

.shape {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    display: block;
    margin: auto
}

@media screen and (max-width: 63.9375em) {
    .shape {
        display: initial;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 38.95px;
        width: 38.95px
    }
}

.iconcontainer {
    padding-top: 128px;
    padding-bottom: 60px;
}

@media screen and (max-width: 119.9375em) {
    .iconcontainer {
        padding-top: 115px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 63.9375em) {
    .iconcontainer {
        padding-top: 96px;
        padding-bottom: 30px;
    }
}

/*@media screen and (max-width: 47.9375em)*/
@media screen and (max-width: 39.9375em) {
    .iconcontainer {
        padding-top: 0px;
        padding-bottom:3px;
    }
}

.icon-label-lorem-ips {
    height: 44px;
    width: 152.75px;
    color: #27198C;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 22px;
    text-align: center;
    padding-top: 12px;
    margin: 0 auto;
}

@media screen and (max-width: 119.9375em) {
    .icon-label-lorem-ips {
        height: 60px;
        width: 110px;
        color: #27198C;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.4px;
        line-height: 20px;
        text-align: center
    }
}

@media screen and (max-width: 63.9375em) {
    .icon-label-lorem-ips {
        display: inline;
        padding-left: 21.02px
    }
}

.icon-label-lorem {
    height: 22px;
    width: 152.75px;
    color: #27198C;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 22px;
    text-align: center;
    padding-top: 12px;
    margin: 0 auto;
}

@media screen and (max-width: 119.9375em) {
    .icon-label-lorem {
        height: 40px;
        width: 110px;
        color: #27198C;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.4px;
        line-height: 20px;
        text-align: center
    }
}

@media screen and (max-width: 63.9375em) {
    .icon-label-lorem {
        display: inline;
        padding-left: 21.02px
    }
}

.image-right-1 {
    background-color: #D8D8D8;
}

@media screen and (max-width: 119.9375em) {
    .image-right-1 {
        background-color: #D8D8D8
    }
}

@media screen and (max-width: 63.9375em) {
    .image-right-1 {
        background-color: #D8D8D8
    }
}

.image-right-2 {
    background-color: #D8D8D8
}

@media screen and (max-width: 119.9375em) {
    .image-right-2 {
        background-color: #D8D8D8
    }
}

@media screen and (max-width: 63.9375em) {
    .image-right-2 {
        background-color: #D8D8D8
    }
}

.pagebleed {
    height: 80px
}

@media screen and (max-width: 63.9375em) {
    .pagebleed {
        height: 30px
    }
}

.panel {
    border: 1px solid #E5E5E5;
    background-color: #F6F6F6
}

@media screen and (max-width: 85.3125em) {
    .panel {
        padding-left: 30px
    }
}

@media screen and (max-width: 63.9375em) {
    .panel {
        padding-left: 20px
    }
}

@media screen and (max-width: 47.9375em) {
    .panel {
        padding-left: 20px;
        padding-right:20px;
    }
}

.sliderpics {
    height: 335px;
    /*width: 335px;*/
    background-color: #D8D8D8;
    margin: 0 auto
}

.slick-slider {
    display: inline !important;
}

.slick-dots {
    position: static !important;

}

.slick-dots li button:before {
    font-weight: 900;
    opacity: 1
}

.mr-2p{
  margin-right:2%;
}

.numbers {
  height: 58px;
  width: 152.75px;
  color: #E5E5E5;
  font-family: Muli;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

@media screen and (max-width: 63.9375em) {
    .min_ht {
        min-height: 100vh;
    }
}
